.input {		
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.input > * {
	margin-bottom: 20px;
} 

.input > button {
	width: 50%;
	height: 25px;
} 

.input > input {
	padding: 5px;
  height: 25px;  
	border: 1px solid gray;
	width: calc(50% - 11px);
	font-size: 15px;
}

@media only screen and (max-width: 600px) {
	.input,
	.input > button,
	.input > input
	 {
		width: calc(100% - 20px);
	}
}