.tabs {		
	width: 100%;
	display: table;
	height: 30px;	
	margin: 20px 0px 10px 0px;
	overflow: hidden;
}

.tabs > div {
	display: table-cell;
	background-color: lightgray;
	cursor: pointer;
	width: 50%;
	vertical-align: middle;
}

.tabs > div:first-child {
	border-right: 1px solid white;
}

.selected {
	background-color: lightblue !important;
}

.instructions {
	font-size: x-small;
}

@media only screen and (max-width: 600px) {
	.tabs > div {
		width: calc(100% - 20px);
	}
}