.app {  
  text-align: center;
  width: 100%;
	height: 100%;
}

.app__header {
  background-color: #282c34;  
  height: 60px;
  padding-top: 20px;
  color: white;
}

.app__header > span {
  font-size: 25px;
}


